{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="container">
         <h1>Task Manager</h1>

    <input type="text" id="taskInput" placeholder="Enter Task">

    <button onclick="createTask()">Add Task</button>
    <br><br>

<button onclick="filterTasks(true)">
    Completed
</button>

<button onclick="filterTasks(false)">
    Pending
</button>

<button onclick="getTasks()">
    All
</button>

    <ul id="taskList"></ul>
    <br>

<button onclick="previousPage()">
    Previous
</button>

<button onclick="nextPage()">
    Next
</button>

    <script src="{% static 'js/app.js' %}"></script>
    </div>

   

</body>

</html>